.container { 
    width: 40%; 
    margin: 0 auto; 
    text-align: center; 
}

h1 { 
    text-shadow: 2px 2px 3px #888; 
} 

#userInput {
    background-color: yellow; 
    padding: 5px; 
    border: 1px dotted black; 
    border-radius: 5px; 
} 

.a { 
    background-color: lightpink; 
    padding: 5px; 
    border: 1px dotted black; 
    border-radius: 5px;
    margin: 5px 0; 
} 

.b { 
    background-color: red;
    padding: 5px; 
    border: 1px solid black;
    border-radius: 5px; 
    margin: 5px 0; 
} 


